// Main colors

$primary-color: #2754C8;
$primary-light-color: #EEF2FF;
$primary-gradient: linear-gradient(79.04deg, #2754C8 3.65%, #110F72 116.1%);
$primary-light: #FFFFFF;
$secondary-light: #989898;